---
layout: default
title:
permalink: /group
---


<h1>Join my group:</h1>

I recently joined Uppsala University as Assistant Professor and I am expanding my group.
We work on machine learning, signal processing and automatic control. Developing basic theory
and creating new applications in medicine.

</br></br>
<h2> Open positions (0)</h2>




<h2> Positions with closed applications (3) </h2>
<p class="ta-colorbox">
        <strong> (Applications closed, hiring in progress) </strong></br>
        <strong> PhD student in Automatic Control focusing on robust statistical learning and system identification.</strong></br>

</p>

</br>
<p class="ta-colorbox">
    <strong> (Applications closed, hiring in progress) </strong></br>
        <strong> PhD student in Automatic Control focusing on signal processing and mathematical modeling for physiological signals</strong></br>
</p>
</br>
<p class="ta-colorbox">
    <strong>   (Applications closed, hiring in progress) </strong></br>
    <strong>   Postdoctoral position  in Automatic Control focusing on system identification and statistical learning.</strong>
</p>




</br>



<hr>
<h1>Previous students:</h1>

{% for p in site.data.supervision %}
<h2> {{ p.level }} students </h2>
    <ul>
    {% for s in p.students %}
        <li> {{ s.student }} .  <i>{{ s.start }} - {{s.end}}.</i> <strong>{{ s.institution }} ({{ s.role}}), {{ s.country }}</strong></li>
        {% endfor %}
    </ul>
{% endfor %}



<h1> Updates from students</h1>
<div class="news">
<table>
{% for entry in site.data.news %}
    {% if entry.tag == "student" %}
  <tr>
    <td style="min-width: 30px;" class="datev">{{ entry.date }}</td>
      <td style="width: 90%">
          {{entry.text}}
          {% if entry.link %}
          <a href="{{entry.link}}">(link)</a>
          {% endif %}
          {% if entry.links %}
                {% for l in entry.links %}
                          <a href="{{l}}">(link)</a>

                {% endfor %}
          {% endif %}
          {% if entry.photo %}
           <a href="{{entry.photo}}">(photo)</a>
          {% endif %}
      </td>
  </tr>
     {% endif %}
{% endfor %}
 </table>
</div>