---
layout: default
title:
permalink: /group
---


<h1>Join my group:</h1>

I recently joined Uppsala University as Assistant Professor and I am expanding my group.
We work on machine learning, signal processing and automatic control. Developing basic theory
and creating new applications in medicine.

</br></br>

<p class="ta-colorbox">
        <strong>PhD student in Automatic Control focusing on robust statistical learning and system identification.</strong></br>
    <strong>Project:</strong>  <i>the selected candidate will join us in conducting research in automatic control and statistical learning, developing data-driven methods to learn large-scale signals and systems from data. There will be a strong focus on developing robust methods with mathematical guarantees, focusing on dynamical, statistical, and optimization properties with potential applications to medicine. The exact details of the research project are decided in a dialogue between the doctoral student and the supervisor.</i>
    </br>
        <strong>Salary:</strong> Decided by <a href=https://www.saco.fackorg.uu.se/w/sa/en/laws-and-agreements/local-agreements/salary-agreement-doctoral-students"> collective agreement.</a></br>
        <strong>Fully funded position for 5 years.</strong> </br>
        <strong>Apply by:</strong> 	09.Oct.2024.</br>
     <strong>Tentative start date (flexible):</strong> 	January 2025</br>
    <strong><a href="https://uu.varbi.com/en/what:job/jobID:749528/">Apply here</a></strong> </br>

</p>
</br>


<p class="ta-colorbox">
        <strong> Postdoctoral position  in Automatic Control focusing on system identification and statistical learning.</strong></br>

    <strong> Project:</strong> <i> The selected candidate will join us in conducting research in statistical learning and system identification research, developing data-driven methods to learn signals and systems from data. There will be a focus on developing robust methods with mathematical guarantees, focusing on stability, statistical and optimization considerations. We will work in applications to cardiology and electrophysiology. The exact details of the research project are decided in a dialogue between the postdoctoral researcher and the supervisor.</i>
    <strong>Salary:</strong> Decided by the department according to experience. See salary <a href="https://www.saco.fackorg.uu.se/download/18.6c544d23190a21f7d4ef0afb/1723468462834/Salary%20statistics%20Science%20and%20Technology%202024-07.pdf">statistics</a>. </br>
    <strong>Fully funded position for 2 years.</strong> </br>
    <strong>Apply by:</strong> 	14.Oct.2024.</br>
    <strong>Tentative start date (flexible):</strong> 	January 2025</br>
    <strong><a href="https://uu.varbi.com/en/what:job/jobID:750516/">Apply here</a></strong> </br>
</p>

</br>
<p class="ta-colorbox">
        <strong> (Upcoming) PhD student in Automatic Control focusing on statistical learning for electrophysiology.</strong></br>



    <i>Announcement will be released in the second half of september</i> </br>
</p>



</br>



<hr>
<h1>Previous students:</h1>

{% for p in site.data.supervision %}
<h2> {{ p.level }} students </h2>
    <ul>
    {% for s in p.students %}
        <li> {{ s.student }} .  <i>{{ s.start }} - {{s.end}}.</i> <strong>{{ s.institution }} ({{ s.role}}), {{ s.country }}</strong></li>
        {% endfor %}
    </ul>
{% endfor %}



<h1> Updates from students</h1>
<div class="news">
<table>
{% for entry in site.data.news %}
    {% if entry.tag == "student" %}
  <tr>
    <td style="min-width: 30px;" class="datev">{{ entry.date }}</td>
      <td style="width: 90%">
          {{entry.text}}
          {% if entry.link %}
          <a href="{{entry.link}}">(link)</a>
          {% endif %}
          {% if entry.links %}
                {% for l in entry.links %}
                          <a href="{{l}}">(link)</a>

                {% endfor %}
          {% endif %}
          {% if entry.photo %}
           <a href="{{entry.photo}}">(photo)</a>
          {% endif %}
      </td>
  </tr>
     {% endif %}
{% endfor %}
 </table>
</div>