---
layout: default
title:
permalink: /group
---


<h1>Research group:</h1>

We work on machine learning, signal processing and automatic control. Developing basic theory
and creating new applications in medicine.

<ul>
{% for s in site.data.supervision.current %}
    <li>  <strong>{{ s.level }}:</strong> <a href={{s.link}}> {{ s.student }}</a>. <i>{{ s.project }}</i> </li>
{% endfor %}
</ul>

<h2>Alumni:</h2>
<ul>
{% for p in site.data.supervision.alumni %}
    <li> <strong> {{ p.level }}</strong>
    <ul>
    {% for s in p.students %}
        <li>  {{ s.student }}.   <a href={{s.thesis}}> {{s.project}}</a><i> (Defence: {{s.end}}).</i> </li>
        {% endfor %}
        </ul></li>
{% endfor %}


<li> <strong>  Visiting students</strong>
    <ul>
    {% for s in site.data.supervision.visiting %}
        <li>  {{ s.student }}. <i>{{s.project}}.</i>  <strong> {{s.period}} ({{ s.institution}}, {{ s.country }}).</strong>  </li>
    {% endfor %}
</ul></li>
</ul>
