---
layout: default
title:
permalink: /
---


<img src="{{ site.avatar }}" style="object-position:right top;float: right; border:2px solid #000000;margin-left:20px; margin-right:10px"/>

<h1 style="text-align: left">About me</h1>

<div style="text-align: justify; text-justify: inter-word;">
I'm Assistant Professor at <a href="https://www.uu.se">Uppsala University</a> in Sweden.
My work studies techniques to extract information and  learn the intrinsic behavior of
time series, signals and dynamical systems. I have a focus on large-scale models
that can perform such tasks, with a special interest in their robustness and generalization
capabilities.  While motivated by a range of applications, I am particularly interested in
the new prospects these advances can bring to medicine. In particular cardiology and
electrocardiography.
</br>

<ul>
<li> <strong>Google scholar: </strong> <a href = "https://scholar.google.com/citations?user=5t_sZdMAAAAJ&hl=en">link</a> </li>
<li><strong>ORCID: </strong> <a href="https://orcid.org/0000-0003-3632-8529"> 0000-0003-3632-8529 </a> </li>
<li><strong>SCOPUS ID: </strong> <a href="https://www.scopus.com/authid/detail.uri?authorId=57191699148"> 57191699148 </a> </li>
<li><strong>DBLP: </strong> <a href="https://dblp.org/pid/202/1699.html"> link </a></li>
<li><strong>Research gate: </strong> <a href="https://www.researchgate.net/profile/Antonio-H-Ribeiro"> link </a></li>
</ul>
</br>

</div>

<h1>Contact</h1>
    <strong> Uppsala University</strong><br />
    <strong> Department of Information Technology</strong><br />
    <strong> <a href="https://www2.it.uu.se/itwiki.php?page=contact"> Ångströmslaboratoriet</a>, Hus 10, Room 103179  <br /><br /></strong>
    <strong>Postal address:</strong>  Box 337, 751 05, Uppsala, Sweden.<br />
    <strong>Email:</strong> <a href = "mailto: antonio.horta.ribeiro@it.uu.se">antonio.horta.ribeiro@it.uu.se</a></span><br />

<br />




<h1>News</h1>
<div class="news">
<table>
{% for entry in site.data.news %}
  <tr>
    <td style="min-width: 30px;" class="datev">{{ entry.date }}</td>
      <td style="width: 90%">
          {{entry.text}}
          {% if entry.link %}
          <a href="{{entry.link}}">(link)</a>
          {% endif %}
          {% if entry.links %}
                {% for l in entry.links %}
                          <a href="{{l}}">(link)</a>

                {% endfor %}
          {% endif %}
          {% if entry.photo %}
           <a href="{{entry.photo}}">(photo)</a>
          {% endif %}
      </td>
  </tr>
{% endfor %}
 </table>
</div>


<h1 style="text-align: center">
<a href="https://github.com/{{ site.footer-links.github }}"><i class="svg-icon github"> </i></a>
<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i></a>
<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon twitter"></i></i></a>
</h1>