---
layout: default
title:
permalink: /
---


<img src="{{ site.avatar }}" style="object-position:right top;float: right;"/>

<h1 style="text-align: left">About me</h1>

I'm a postdoctoral researcher at <a href="https://www.kth.se/">KTH royal institute of technology</a> in Sweden.
My work studies techniques to extract information and  learn the intrinsic behavior of
time series, signals and dynamical systems. I have a focus on large-scale models
that can perform such tasks, with a special interest in their robustness and generalization
capabilities.  While motivated by a range of applications, I am particularly interested in
the new prospects these advances can bring to medicine. In particular cardiology and
electrocardiography.

<h1>Contact</h1>
    <strong>School of Electrical Engineering and Computer Science <br />
    Royal Institute of Technology (KTH)</strong> <br /><br />
    <strong>Email:</strong> <a href = "mailto: antonio.horta.ribeiro@it.uu.se">antonior92@gmail.com</a></span><br />
    <strong>Address:</strong> Room 308, Teknikringen 14, KTH SE-100 44 Stockholm, Sweden.<br />





<h1>News</h1>
<div class="news">
<table>
{% for entry in site.data.news %}
  <tr>
    <td style="min-width: 30px;" class="datev">{{ entry.date }}</td>
      <td style="width: 90%">
          {{entry.text}}
          {% if entry.link %}
          <a href="{{entry.link}}">(link)</a>
          {% endif %}
          {% if entry.links %}
                {% for l in entry.links %}
                          <a href="{{l}}">(link)</a>

                {% endfor %}
          {% endif %}
          {% if entry.photo %}
           <a href="{{entry.photo}}">(photo)</a>
          {% endif %}
      </td>
  </tr>
{% endfor %}
 </table>
</div>


<h1 style="text-align: center">
<a href="https://github.com/{{ site.footer-links.github }}"><i class="svg-icon github"> </i></a>
<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i></a>
<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon twitter"></i></i></a>
</h1>