---
layout: default
title: projects
permalink: /projects
---



{% for p in site.data.projects %}
  <article class="post">
  <h2>  ({{ p.start }} -  {{ p.end }})  {{ p.name }} </h2>
    <div class="entry">
        <p style="margin-bottom:0.1cm;">
            {% if p.image %}
                <img src={{ p.image.path }} style="float:right;width:{{ p.image.width }};height:{{ p.image.height }};">
            {% endif %}
            {{ p.description }}
        </p>
        {% if p.publications.size > 0 %}
        <br>
        <b>Selected publications:</b>
        <ul>
        {% for item in p.publications %}
            {% for paper in site.data.publications.mypapers %}
                {% if paper.id == item %}
                    <li><span style="font-size:0.7em">
                    {{ paper.title }} ({{ paper.issued[0].year }}). <i> {{ paper.container-title }}.</i>
                               {% assign var = 1 %}
                                {% for author in paper.author %}
                                      {% if author.family == "Ribeiro" and author.given contains "Ant" and author.given contains "nio" and author.given contains "H"%}
                                           <strong> {{ author.given }} {{ author.family }}</strong>{% unless paper.author.size == var %}, {% endunless %}
                                      {% else %}
                                           {{ author.given }} {{ author.family }}{% unless paper.author.size == var %}, {% endunless %}
                                      {% endif %}
                                      {% assign var = var | plus: 1 %}
                               {% endfor %}
                    </span></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>{% endif %}
    </div>
  </article>
  <hr />
{% endfor %}
