---
layout: default
title: projects
permalink: /projects
---



{% for p in site.data.projects %}
  <article class="post">
  <h2>  ({{ p.start }} -  {{ p.end }})  {{ p.name }} </h2>
    <div class="entry">
      {{ p.description }}
      <ul>
        {% for item in p.related-items %}
          {% if item.type == "Blog post" %}
            <li><a href="{{ item.link }}">{{ item.title }}</a>  ({{ item.type }})</li>
          {% elsif item.type == "Publication" %}
            {% for paper in site.data.publications.mypapers %}
                {% if paper.id == item.tag %}
                  <li> <b>{{ item.type }}:</b> <br>
                    <span style="font-size:0.7em">
                    {{ paper.title }} ({{ paper.issued[0].year }}). <i> {{ paper.container-title }}.</i>
                               {% assign var = 1 %}
                                {% for author in paper.author %}
                                      {% if author.family == "Ribeiro" and author.given contains "Ant" and author.given contains "nio" and author.given contains "H"%}
                                           <strong> {{ author.given }} {{ author.family }}</strong>{% unless paper.author.size == var %}, {% endunless %}
                                      {% else %}
                                           {{ author.given }} {{ author.family }}{% unless paper.author.size == var %}, {% endunless %}
                                      {% endif %}
                                      {% assign var = var | plus: 1 %}
                                  {% endfor %}
                      </>
                    </li>
                {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </article>
  <hr />
{% endfor %}
