---
layout: default
title: Publications
permalink: /publications
---


<h1>Publications</h1>

I am interested in the intersection between machine learning, automatic control, signal processing, and to its application in medicine.
<ul>
    <li> Samples of my work on <strong>machine learning:</strong>
        AISTATS 2025, NeurIPS 2024, ICML 2024, Neurips 2023, AISTATS 2020.</li>
    <li>  Samples of my work on <strong>system identification</strong> and <strong>signal processing:</strong>
        Automatica (2025), IEEE Transactions on Signal Processing (2023),
     ICASSP (2021), Automatica (2020).</li>
    <li> Samples of my work on <strong>medical applications</strong>:
        Plos Neglected Tropical Disease (2023)
    Nature Communications (2021), Nature Communications (2020).</li>
    <li> Examples of <strong>international collaborations in medicine</strong> include:
        npj Digital Medicine (2025), Lancet Digital Medicine (2024), npj Digital Medicine (2024),  IEEE Transactions on Biomedical Engineering (2023),
    Circulation (2023).</li>
</ul>


See a curated publication list below:

{% for categories in site.data.publications.categories %}
    <h2>{{ categories.name }}</h2>
    <table>
    {% for paper_id in categories.papers %}
        <tr>
        {% assign pp = site.data.publications.refs.entries[paper_id] %}
        {% unless pp.doi == blank %}
            {% assign link =  "https://www.doi.org/" | append: pp.doi  %}
        {% endunless %}

        <td style="min-width: 170px;max-width: 170px;text-align:left ;"> <span style="font-size: 0.8em;"> {{ pp.journal }} ({{ pp.year }})</span> </td>
        <td>  <a href= {{ link }} > {{ pp.title }}</a>  </br>

        <i><span style="font-size: 0.7em;">
        {% assign var = 1 %}
        {% for author in pp.author %}
            {% if author.last == "Ribeiro" and author.first contains "Ant" and author.first contains "nio" and author.middle contains "H"%}
                 <strong> {{ author.first }} {{ author.middle }} {{ author.last }}</strong>{% unless pp.author.size == var %}, {% endunless %}
            {% else %}
                 {{ author.first }} {{ author.middle }} {{ author.last }}{% unless pp.author.size == var %}, {% else%}. {% endunless %}
            {% endif %}
            {% assign var = var | plus: 1 %}
        {% endfor %}
        </span></i>
        </td>
        </tr>
    {% endfor %}
    </table>
{% endfor %}
