---
layout: default
title: Publications
permalink: /publications
---


<h1>Publications</h1>

I am interested in the intersection between machine learning, automatic control, signal processing, and to its application in medicine.
<ul>
    <li> Samples of my work on <strong>machine learning:</strong>
        ICML 20204 [C2], Neurips 2023 [C3], AISTATS 2020 [C8].</li>
    <li>  Samples of my work on <strong>system identification</strong> and <strong>signal processing:</strong>  <br>
        Automatica (2024) [J1], IEEE Transactions on Signal Processing (2023) [J6],
     ICASSP (2021) [C6], Automatica (2020) [J22].</li>
    <li> Samples of my work on <strong>medical applications</strong>:
        Plos Neglected Tropical Disease (2023) [J12]
    Nature Communications (2021)[J18], Nature Communications (2020) [J23].</li>
    <li> Examples of <strong>international collaborations in medicine</strong> include:
        npj Digital Medicine (2024) [J2],  IEEE Transactions on Biomedical Engineering (2023) [J7],
    Circulation (2023) [J9].</li>
</ul>


See a curated publication list bellow:

{% for categories in site.data.publications.categories %}
    <h2>{{ categories.name }}</h2>
    <table>
    {% assign pnumber = 0 %}
    {% for paper_id in categories.papers %}
        {% for paper in site.data.publications.mypapers %}
            {% if paper.id == paper_id %}

                    {% assign pnumber = pnumber | plus: 1 %}

                <!-- Paper title -->
                <tr>
                <td style="min-width: 40px;text-align:left ;">[{{ categories.letter }}{{ pnumber }}]</td>
                <td>{{ paper.title }} ({{ paper.issued[0].year }}).

                <!-- Paper Authors -->
                    <i>
                    {% assign var = 1 %}
                    {% for author in paper.author %}
                        {% if author.family == "Ribeiro" and author.given contains "Ant" and author.given contains "nio" and author.given contains "H"%}
                             <strong> {{ author.given }} {{ author.family }}</strong>{% unless paper.author.size == var %}, {% endunless %}
                        {% else %}
                             {{ author.given }} {{ author.family }}{% unless paper.author.size == var %}, {% else%}. {% endunless %}
                        {% endif %}
                        {% assign var = var | plus: 1 %}
                    {% endfor %}
                    </i>

                 <!-- Paper Venue -->
                 {{ paper.container-title }}.

                <!-- Paper Conference -->
                {% assign var = 1 %}
                {% unless paper.DOI == blank %}
                    <a href="https://www.doi.org/{{ paper.DOI }}"> [doi] </a>
                    {% assign var = var | plus: 1 %}
                {% endunless %}
                {% for addicional_info in site.data.publications.links[paper_id] %}
                     {% unless var == 1 %} - {% endunless %} <a href="{{ addicional_info.link }}"> [{{ addicional_info.name }}] </a>
                    {% assign var = var | plus: 1 %}
                {% endfor %}
                </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}

    </table>
{% endfor %}
