---
layout: page
title:
permalink: /talks
---


{% for t in site.data.talks %}

<div class="entry">
    <h3>{{ t.name }}  ({{ t.venue }}, {{ t.date }})</h3>

        <center>
        {% unless t.youtube == blank %}
         <div style="display: inline-block">
            <iframe width="350" height="315"
            src="https://www.youtube.com/embed/{{ t.youtube }}">
            </iframe>
         </div>
        {% endunless %}

        {% unless t.slide == blank %}
                <div style="display: inline-block">
        <object data={{ t.slide }} type="application/pdf" width="350" height="315">
        <embed src={{ t.slide }} type="application/pdf">
            <p>This browser does not support PDFs. Please download the PDF to view it:
                <a href={{ t.slide }}>Download PDF</a>.</p>
        </embed></div>
        </object>
        {% endunless %}

        {% unless t.slidelive == blank %}
                <div id="presentation-embed-{{ t.slidelive }}"></div>
                <script src='https://slideslive.com/embed_presentation.js'></script>
                <script>
                    embed = new SlidesLiveEmbed('presentation-embed-{{ t.slidelive }}', {
                        presentationId: {{ t.slidelive }},
                        autoPlay: false, // change to true to autoplay the embedded presentation
                        verticalEnabled: false
                    });
                </script>
        {% endunless %}

     </center>

    {% if t.publications.size > 0 %}
        <br>
        <b>Related publications:</b>
        <ul>
        {% for item in t.publications %}
            {% for paper in site.data.publications.mypapers %}
                {% if paper.id == item %}
                    <li><span style="font-size:0.7em">
                    {{ paper.title }} ({{ paper.issued[0].year }}). <i> {{ paper.container-title }}.</i>
                               {% assign var = 1 %}
                                {% for author in paper.author %}
                                      {% if author.family == "Ribeiro" and author.given contains "Ant" and author.given contains "nio" and author.given contains "H"%}
                                           <strong> {{ author.given }} {{ author.family }}</strong>{% unless paper.author.size == var %}, {% endunless %}
                                      {% else %}
                                           {{ author.given }} {{ author.family }}{% unless paper.author.size == var %}, {% endunless %}
                                      {% endif %}
                                      {% assign var = var | plus: 1 %}
                               {% endfor %}
                    </span></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
{% endif %}
<br />
<hr />
{% endfor %}
