---
layout: page
title:
permalink: /teaching
---


<h2>Upcomming courses</h2>
<hr />

{% for p in site.data.teaching.upcomming %}
<div class="container">
  <h3>  {% if p.link == blank %}
      {{ p.course }}
      {% else %}
      <a href="{{p.link}}"> {{ p.course }}  </a>
      {% endif %}  ({{ p.year}}, {{p.semester}}) |  {{ p.level}}  level course </h3>
    <ul>
        <li>{{ p.position }} - {{ p.university }}</li>
    </ul>
</div>
{% endfor %}

<br />
<h2>Current courses</h2>
<hr />

{% for p in site.data.teaching.current %}
  <h3>
      {% if p.link == blank %}
      {{ p.course }}
      {% else %}
      <a href="{{p.link}}"> {{ p.course }}  </a>
      {% endif %} ({{ p.year}}, {{p.semester}}) |  {{ p.level}}  level course</h3>
    <ul>
        <li>{{ p.position }} - {{ p.university }}</li>
    </ul>
  <br />
{% endfor %}


<br />
<h2>Previous courses</h2>
<hr />

{% for p in site.data.teaching.previous %}
  <h3> {{ p.course }}  ({{ p.year}}, {{p.semester}}) |  {{ p.level}}  level course</h3>
    <ul>
        <li>{{ p.position }} - {{ p.university }}</li>
    </ul>
{% endfor %}
