.news{
    display: table;
    height:170px;
    overflow:auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 9px;
    margin-top: 0px;;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    border: 1px solid $lightGray;
    margin-bottom: 10px;
    font-size: smaller;
}


.table_cell{
    display: table-cell;
    padding: 5px;
    width: 50%;
    height: auto;
    top: 0px;
    line-height: 90%;
 }

.table_cell_header{
    float:left;
    padding: 0px;
    margin:-10px 0 0 0px;
    background:#fff;
    font-size: 14px;
    color: $blue;
}


