<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="sidebar">
      <h2>{{ site.name }}</h2>
        <a href="{{ site.baseurl }}/"> Home</a> <br />
        <a href="{{ site.baseurl }}/publications">Publications</a>  <br />
       <a href="{{ site.baseurl }}/group">Group</a>  <br />
        <a href="{{ site.baseurl }}/teaching">Teaching</a>  <br />
        <a href="{{ site.baseurl }}/awards">Awards</a>  <br />
        <a href="{{ site.baseurl }}/talks">Talks</a> <br />
        <a href="{{ site.baseurl }}/datasets">Datasets</a>  <br />
      </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
    </div>

    {% include analytics.html %}
  </body>
  
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

</html>
